/* ===== bio css ===== */

.resume {
    max-width: 700px;
    margin: 40px auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

/*** Resume module - START ***/
.resume-module {
    margin-bottom: 30px;
}

.resume-module__title {
    background-color: #005592;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    width: 250px;
}

.resume-module__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-module__table {
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 10px;
}

.resume-module__table > img {
    overflow: hidden;
    display: block;
    width: auto;
    height: 50px;
}

.resume-module__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-module__content1 {
    font-size: 20px;
    font-weight: bold;
}

.resume-module__content2 {
    font-size: 16px;
}
/*** Resume module - END ***/


/*** Personal information - START ***/
.personal__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        "personal-image personal-info"
        "personal-name personal-info";
    margin: 10px 0 50px;
    grid-template-columns: 200px auto;
    position: relative;
}

.personal__image {
    grid-area: personal-image;
    background: #005592;
    padding: 20px;
}

.personal__image > img {
    overflow: hidden;
    display: block;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-right: 12px;
    border: 5px solid white;
    border-radius: 50%;
}

.personal__name {
    grid-area: personal-name;
    background: #005592;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: white
}

.personal__info {
    grid-area: personal-info;
    background: #dbf0f8;
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 15px;
    row-gap: 10px;
    font-size: 18px;
}

.personal__info-gender::before {
    content: '';
    display: inline-table;
    background-image: url("https://namtruong-2001.github.io/portfolio/image/gender-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.personal__info-birth::before {
    content: '';
    display: inline-table;
    background-image: url("https://namtruong-2001.github.io/portfolio/image/birth-calendar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.personal__info-phone::before {
    content: '';
    display: inline-table;
    background-image: url("https://namtruong-2001.github.io/portfolio/image/phone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.personal__info-email::before {
    content: '';
    display: inline-table;
    background-image: url("https://namtruong-2001.github.io/portfolio/image/email.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.personal__info-location::before {
    content: '';
    display: inline-table;
    background-image: url("https://namtruong-2001.github.io/portfolio/image/location.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
/*** Personal information - END ***/


/*** Experience ***/
.experience, .education {
    margin-bottom: 30px;
}

.experience__title, .education__title {
    background-color: #005592;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    width: 250px;
}

.experience__container, .education__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience__table, .education__table {
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 10px;
}

.experience__table > img {
    overflow: hidden;
    display: block;
    width: auto;
    height: 50px;
}

.education__table > div > img {
    overflow: hidden;
    display: block;
    width: auto;
    height: 50px;
    padding-bottom: 5px;
}

.experience__row, .education__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience__company-name, .education__place {
    font-size: 20px;
    font-weight: bold;
}

.experience__position .education__specialize {
    font-size: 16px;
    font-weight: bold;
}

.experience__timeline, .education__timeline {
    font-style: italic;
    font-size: 13px;
    color: gray;
}


/*** Education ***/
.education__gpa {
    font-size: 14px;
}

.education__content > div {
    margin-bottom: 10px;
}