/* ===== bio css ===== */

.resume {
    max-width: 700px;
    margin: 40px auto;
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

/*** Resume module - START ***/
.resume-module {
    margin-bottom: 30px;
}

.resume-module__title {
    background-color: #005592;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    width: 200px;
}

.resume-module__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-module__table {
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 10px;
}

.resume-module__table > img {
    overflow: hidden;
    display: block;
    width: auto;
    height: 50px;
}

.resume-module__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-module__content1 {
    font-size: 20px;
    font-weight: bold;
}

.resume-module__content2 {
    font-size: 16px;
}
/*** Resume module - END ***/

.experience, .education {
    margin-bottom: 30px;
}

.experience__title, .education__title {
    background-color: #005592;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    width: 200px;
}

.experience__container, .education__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience__table, .education__table {
    display: grid;
    grid-template-columns: 80px auto;
    margin-top: 10px;
}

.experience__table > img, .education__table > img {
    overflow: hidden;
    display: block;
    width: auto;
    height: 50px;
}

.experience__row, .education__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience__company-name, .education__place {
    font-size: 20px;
    font-weight: bold;
}

.experience__position .education__specialize {
    font-size: 16px;
    font-weight: bold;
}

.experience__timeline, .education__timeline {
    font-style: italic;
    font-size: 13px;
    color: gray;
}

.education__gpa {
    font-size: 14px;
}

.education__content > div {
    margin-bottom: 10px;
}